# You can find more information about this file on the symfony website:
# http://www.symfony-project.org/reference/1_4/en/10-Routing

# default rules
homepage:
  url:   /
  param: { module: demo, action: index }

sf_guard_signin:
  url:   /login
  param: { module: sfGuardAuth, action: signin }

valerie:
  url:   /coach/valerie
  param: { module: coach, action: index }

edward:
  url:   /coach/valerie
  param: { module: coach, action: index }

sf_guard_signout:
  url:   /logout
  param: { module: sfGuardAuth, action: signout }

sf_guard_password:
  url:   /requestpassword
  param: { module: sfGuardAuth, action: password }

about:
  url:   /about
  param: { module: demo, action: about }

see_plans_and_pricing:
  url:   /customer/new
  param: { module: customer, action: new }

see_all_features:
  url:   /customer/new
  param: { module: customer, action: new }

sf_guard_register:
  url:   /register
  param: { module: sfGuardRegister, action: index }

# generic rules
# please, remove them by adding more specific rules
default_index:
  url:   /:module
  param: { action: index }

default:
  url:   /:module/:action/*
