<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Gym6</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>	
	<body>
    	<div id="page">
            <h1 class="logo_no_inking">GUM6<a href="#"></a></h1>
            <div class="sign"><a href="#">Nastia Larkina</a>|<a href="#">Logout</a></div>                     
            <div class="about_page">
                <cite>Мы придумали Gym6, чтобы вы стали таким же сексуальным, как я.</cite>
                <p>Pellentesque tristique sem nulla. Mauris quam est, ultricies et aliquet at nunc ligula. Donec et nibh et urna tristique tincidunt id vitae nulla questions and answers. 
                Quisque quis odio mauris, ac mollis erat. Nullam non tellus et tellus gravida pellentesque. </p>
                <p>Suspendisse sapien quam, pellentesque vestibulum ultrices et, dictum sed neque. </p>
				<a href="#" class="more">See all features</a>
                <a href="#" class="spp"></a>                  
                <div class="ap1">Meet <a href="#">Valerie Readfield</a>,<br />your Gym6 fitness coach</div>
            	<div class="ap2"><a href="#">Edward Colson</a><br />has over 10 years of experience as a personal<br /> fitness trainer and has designed the entire series<br /> of Gym6 routines.</div>           
            </div>             
        </div>              
		<div id="footer"><div>
			<p>To get support — financial or technological — write Mary Jenkins to <a href="#">mary@gym6.com</a></p>
			Gym6 has been produced by Dan Ayphor. <br /><a href="#">Write him</a> to tell your opinion or discuss business opportunities. 
		</div></div>
	</body>
</html>
