<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Gym6</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>	
	<body>
       
		<div id="page">
            <h1 class="logo_no_inking">GUM6<a href="#"></a></h1>
            <div class="sign"><a href="#">Nastia Larkina</a>|<a href="#">Logout</a></div>

            <div class="coach_page">
            	<img src="img/Valerie_Readfield_page.jpg" />
                <div>
                <cite>Только упорные тернировки<br /> помогут вам стать такой же<br /> сексуальной, как я.</cite>
                <p>Valery Readfield is you fitness coach. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce faucibus justo non quam scelerisque sagittis. Donec condimentum tempus rhoncus. Nulla in nibh in massa tempor tristique. </p>
                <p>Fusce id nunc ac nunc interdum egestas ut at purus. Curabitur quis elit est, sed convallis nibh <a href="#">Edward Colson</a>. Sed ultricies faucibus augue, vel commodo mi vehicula quis. Proin scelerisque dui ac massa placerat varius. </p>
                <p>Pellentesque tristique sem nulla. Mauris quam est, ultricies et aliquet vitae, tristique at leo <a href="#">about Gym 6</a>.
                Duis at nunc ligula, vitae elementum odio. Donec et nibh et urna tristique tincidunt id vitae nulla questions and answers. Quisque quis odio mauris, ac mollis erat. Nullam non tellus et tellus gravida pellentesque.</p>       
                <a href="#" class="see_all">See all features</a> 
                </div>
            </div>
        </div>    
            
		<div id="footer"><div>
			<p>To get support — financial or technological — write Mary Jenkins to <a href="#">mary@gym6.com</a></p>
			Gym6 has been produced by Dan Ayphor. <br /><a href="#">Write him</a> to tell your opinion or discuss business opportunities. 
		</div></div>
		
		
	</body>
</html>

