<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Gym6</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>	
	<body>
        
        <style>
		.forgot {padding-left:305px;}
		.forgot h2 {font-size:22px; color:#153448; line-height:50px;}
		.forgot p {width:400px; padding-bottom:7px; line-height:19px;}
		.forgot input {width:190px; padding:4px; border:1px solid #ddd;}
		.forgot .send {background:url(img/forgot.png); height:33px; width:134px; border:none; display:block; margin-top:10px;}
		</style>
		<div id="page">
            <h1 class="logo_new">GUM6<a href="#"></a></h1>
            <div class="sign"><a href="#">Nastia Larkina</a>|<a href="#">Logout</a></div>
            <img src="img/temp/a4.jpg" />
            <div class="forgot">
            	<h2>Forgot your password?</h2>
                <p>We will send password reset instructions to the email address associated with your account.</p>
                <p>Please type your email address or username below.</p>
                <input type="text" />
                <input type="submit" class="send" value="" />
            </div>
        </div>    
            
		<div id="footer"><div>
			<p>To get support — financial or technological — write Mary Jenkins to <a href="#">mary@gym6.com</a></p>
			Gym6 has been produced by Dan Ayphor. <br /><a href="#">Write him</a> to tell your opinion or discuss business opportunities. 
		</div></div>
		
		
	</body>
</html>
