<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Gym6</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>	
	<body>
		<div id="page">
        	<div class="sign_popup">
                	<p class="error">We don't seem to know you yet. <a href="#">Sign Up</a> or try another username.</p>
                    <strong>User name</strong>
                    <input type="text" class="text error_text" value="Nastia Larkina" />
                    <strong>Password</strong>
                    <input type="password" class="text" value="*********" />
                        <div class="bottom_sign_popup">
                        	<input type="submit" value="" class="sign_in" />
                            <div class="memory">
                            	<label><input type="checkbox" /> Stay signed in</label><br />
                                <a href="#">Forgot password?</a>
                            </div>
                        </div>
                </div>
                
			<h1 class="logo_new">GUM6<a href="#"></a></h1>
			<div class="sign"><a href="#">Sign Up</a>|<a href="#">Sign In</a> <div class="fb"><img src="img/temp/fb.png" /></div></div>
			<div class="index">
				<a href="#"></a>
			</div>
			
			<ul class="steps">
				<li><strong>Set up your course</strong><img src="img/temp/s1.jpg" /></li>
				<li><strong>Tune your schedule<br />and reminders</strong><img src="img/temp/s2.jpg" /></li>
				<li><strong>Gym6 will compile your<br />personal video routines</strong><img src="img/temp/s3.jpg" /></li>
			</ul>
			
			<div class="texts"><div class="wrap">
				<div class="column_right">
					<div class="block c4">
						<img src="img/Valerie_Readfield.jpg" /> <span>Meet <a href="#">Valerie Readfield</a>,<br />your Gym6 fitness coach</span>
					</div>
					<div class="block c5">
						<a href="#" class="title">Edward Colson</a>
						<p>has over 10 years of experience as a personal fitness trainer <br />and has designed the entire series of Gym6 routines.</p>
						<img src="img/Edward_Colson.jpg" class="img" />
						<cite>I developed the Gym6 program as a great way for busy people to enjoy all the benefits of looking and feeling great on their own schedule without having to make special trips to a gym or fitness studio.</cite>
					</div>
					<div class="block c6">
						<a href="#" class="title">Q&amp;A</a>
						<dl>
							<dt>How often do I need to work out?</dt>
							<dd>As often as you'd like. Gym6 allows you to set your workout frequency anywhere from once per week to daily. And you can change the number of workouts at any time if you find you need to push yourself more — or less.</dd>
							<dt>Do I need equipment?</dt>
							<dd>At the moment — none. We will introduce new courses in the future, some of which will require you to have an athletic track or a yoga pad.</dd>
						</dl>
						<a href="#" class="more">Learn more</a>
					</div>
				</div>
				<div class="column_left">
					<div class="block c1">
						<a href="#" class="title">You'll know when it's time to get physical</a><br />
						<img src="img/temp/mb.png" />
						<ul>
							<li><span>•</span> Provide your mobile phone number or email address</li>
							<li><span>•</span> Choose a reminder frequency</li>
							<li><span>•</span> Gym6 notifies you of your workouts</li>
 						</ul>
					</div>
					<div class="block c2">
						<a href="#" class="sc"><img src="img/sc1.png" /></a><a href="#" class="sc"><img src="img/sc2.png" /></a><a href="#" class="sc"><img src="img/sc3.png" /></a>
						<a href="#" class="title">That's what friends are for</a>	
						<img src="img/temp/cb.png" style="float:left;" /> 
						<p>Easily share your Gym6 progress<br />with your friends on Facebook and Twitter. </p>
						<p>You know you'll work harder <br />when someone's watching!</p>
					</div>
					<div class="block c3">
						<a href="#" class="title">Persistence pays off</a>
						<ul>
							<li class="p1"><span>1<sup>st</sup> month</span><strong><em>$</em>99</strong></li>
							<li class="p2"><span>2<sup>nd</sup> month</span><strong><em>$</em>79</strong></li>
							<li class="p3"><span>3<sup>rd</sup> month</span><strong><em>$</em>49</strong></li>
						</ul>
						<p>Save $70 on a 3-month membership subscription.</p>
						
					</div>
				</div>
			</div></div>
			<a href="#" class="big_button"></a>
			
			<div class="about">
				<h2><a href="#">Dan Bennington</a>,</h2>
				<strong>Gym6 founder</strong>
				<p>The Gym6 name carries over from a goal I had once set for myself to work out "six days a week for six weeks in a row" and it stands for my personal 
                commitment to providing you with an effective and time-saving personal fitness program with the freedom to choose when and how often you exercise.. </p>
			</div>
			<div class="form">
				<h3>Need more information?</h3>
				<input type="text" class="text" value="E-mail" style="color:#8a8a8a;" />
				<textarea style="color:#8a8a8a;">Ask Julie about the service, or tell her your opinion; she will answer in a couple of hours.</textarea>
				<input type="submit" class="submit" value="Ask" />
			</div>
		</div>
		<div id="footer"><div>
			<p>Have any further questions, comments, or suggestions? <br /> Just <a href="#">email Julie</a>, our Client Representative and you can expect to receive a response<br /> within approximately 1—3 hours. </p>
			Gym6.com was created by Dan Bennington. Dan welcomes and appreciates your input about the Gym6 website. Please feel free to <a href="#">email Dan</a> with your comments<br /> or to find out more about business opportunities with Gym6.
		</div></div>
		
		
	</body>
</html>
