<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Gym6</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>	
	<body>
        
        
		<div id="page">
            <h1 class="logo_new">GUM6<a href="#"></a></h1>
            <div class="sign"><a href="#">Nastia Larkina</a>|<a href="#">Logout</a></div>
            <ul class="menu">
                <li><a href="#">Workout</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Progress</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
            <img src="img/temp/a3.jpg" />


            <div class="reg4">
                <h1>Single month course</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce volutpat cursus neque vitae gravida. Aliquam euismod cursus gravida. Morbi mattis molestie tellus id consectetur. Duis id magna quam, id consequat velit. </p>
                <p>Suspendisse a ultricies dolor. Integer eu sapien arcu. Duis pretium ornare suscipit. Integer sed urna ligula, sit amet cursus eros. Nunc non quam turpis. </p>
                <p>Quisque et lectus orci, ut volutpat felis. Vestibulum fringilla nibh et sapien tempus vulputate. Nunc purus nisl, suscipit ut consequat porta, luctus rutrum ipsum. Vestibulum sodales interdum dolor sit amet vestibulum. Suspendisse potenti. </p>
                <p><a href="#">Sign Up for three-month course</a> and save $70</p>
                
                
                <div class="pay">
                    <div class="cupon">
                        <h4>Введите купон на скидку <a href="#" class="q"><span>Тут, видимо, будет<br /> пояснение о том,<br /> как работает купон.<i></i></span></a></h4>
                        <input type="text" />
                    </div>
                    <div class="price">
                        <div class="current"><span>$</span>89.1</div>
                        <div class="discount">
                            <div class="old"><span>$</span>99 <i></i></div>
                            <strong class="saving">10%off</strong>
                        </div>
                    </div> 
                </div>
                <div class="method_of_payment">
                    <label class="google" style="clear:both"><input type="radio" /></label>
                    <label class="paypal"><input type="radio" /></label>
                </div>
                <a href="#" class="ready"></a>
            </div>	
        </div>    
            
		<div id="footer"><div>
			<p>To get support — financial or technological — write Mary Jenkins to <a href="#">mary@gym6.com</a></p>
			Gym6 has been produced by Dan Ayphor. <br /><a href="#">Write him</a> to tell your opinion or discuss business opportunities. 
		</div></div>
		
		
	</body>
</html>
