<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Gym6</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>	
	<body>
		<div id="page">
        <h1 class="logo_new">GUM6<a href="#"></a></h1>
        <div class="sign"><a href="#">Nastia Larkina</a>|<a href="#">Logout</a></div>

     
        	<div class="tarifs">
            	<div class="tarif1">
                	<h2>free</h2>
                	<ul>
                    	<li>Three days of training</li>
                    	<li>Try before you buy</li>
					</ul>
                    <a href="#">Chooise</a>
                </div>
            	<div class="tarif2">
                	<h2>Single Month</h2>
                	<ul>
                    	<li>Daily training</li>
                    	<li>Individual programs</li>
                        <li>Reminders and achievements</li>
					</ul>
                    <a href="#">Chooise</a>
                </div>
                <div class="tarif3">
                	<h2>Three Months</h2>
                	<ul>
                    	<li>Save $230</li>
                    	<li>Improve your body on a daily basis</li>
					</ul>
                     <a href="#">Chooise</a>
                </div>
            </div>
            
            <div class="tarifs" style="margin-top:50px;"> <!-- 50px что бы не налезало, стереть -->
            	<div class="tarif1 deactive">
                	<h2>free</h2>
                	<ul>
                    	<li>Three days of training</li>
                    	<li>Try before you buy</li>
					</ul>
                    <a href="#">Chooise</a>
                </div>
            	<div class="tarif2 active">
                	<h2>Single Month</h2>
                	<ul>
                    	<li>Daily training</li>
                    	<li>Individual programs</li>
                        <li>Reminders and achievements</li>
					</ul>
                    <a href="#">Chooise</a>
                </div>
                <div class="tarif3 deactive">
                	<h2>Three Months</h2>
                	<ul>
                    	<li>Save $230</li>
                    	<li>Improve your body on a daily basis</li>
					</ul>
                     <a href="#">Chooise</a>
                </div>
                <div class="error">Choose something</div>
            </div>

        	<div class="reg3">
            	<h2 class="join_now">Join now</h2>
                <div class="login"><img src="img/temp/av.jpg" /> You have connected via Facebook as <h2>Nastia Larkina</h2></div>
                <div class="no_login">
                    <label><span>User name</span><input type="text" /></label>
                    <label><span>Password</span><input type="password" class="error" /><span class="error">Enter password</span></label>
                	<label><span>Password</span><input type="password" /></label>
                    <div class="or">or <div class="fb"><img src="img/temp/fb.png" /></div></div> 
                </div>
                <label class="checkbox"><input type="checkbox" />I agee to the <a href="#">Terms of Service</a><span class="error">Error!</span></label>
                <label class="checkbox"><input type="checkbox" /><a href="#">Я не больной и не беременный</a></label>
				<a href="#" class="next_step"></a>    
        	</div>
        </div>	
            
            
		<div id="footer"><div>
			<p>To get support — financial or technological — write Mary Jenkins to <a href="#">mary@gym6.com</a></p>
			Gym6 has been produced by Dan Ayphor. <br /><a href="#">Write him</a> to tell your opinion or discuss business opportunities. 
		</div></div>
		
		
	</body>
</html>
