<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Gym6</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>	
	<body>
       
		<div id="page">
            <h1 class="logo_no_inking">GUM6<a href="#"></a></h1>
            <div class="sign"><a href="#">Nastia Larkina</a>|<a href="#">Logout</a></div>
            <ul class="menu">
                <li class="sub"><a href="#">Workout</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Progress</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
            
            <div class="work_page">
            	<h2 class="title">Сегодня первый день занятий.</h2>
                <div class="inside_flash">
                	<!--<div class="no_flash">To view animations, please <a href="#">install Adobe Flash Player</a></div> -->
                    <img src="img/temp/pleer.jpg" /> 
                </div>
                <div class="description">
                	<img src="img/temp/cup.png" /> 
                    <div class="target"><strong>Big Golden Cup</strong> за 100 отжиманий</div>
                    <div class="remainder">Вам осталось <strong>50</strong></div>
                </div>
                <div class="sell_friend"><strong>Новая акция:</strong> приведи друга и получи месяц тренировки <a href="#">бесплатно</a>. <a href="#" class="close"></a></div>
            </div>
        </div>    
            
		<div id="footer"><div>
			<p>To get support — financial or technological — write Mary Jenkins to <a href="#">mary@gym6.com</a></p>
			Gym6 has been produced by Dan Ayphor. <br /><a href="#">Write him</a> to tell your opinion or discuss business opportunities. 
		</div></div>
		
		
	</body>
</html>

