<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Gym6</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>	
	<body>
       
		<div id="page">
            <h1 class="logo_new">GUM6<a href="#"></a></h1>
            <div class="sign"><a href="#">Nastia Larkina</a>|<a href="#">Logout</a></div>
            <ul class="menu">
                <li class="sub"><a href="#">Workout</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Progress</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
            <img src="img/temp/a6.jpg" />
            
            <div class="end_money_page">
            	<h2 class="title">У вас закончилось бабло.</h2>
                <p>Купите месяц занятий за 99$ или 3 месяца за 10$ каждый.</p>
                <label><input type="radio" />Single Month — $99</label>
                <ul>
                    <li>Daily training</li>
                    <li>Individual programs</li>
                    <li>Reminders and achievements</li>
                </ul>
                <label><input type="radio" />Three Months — $370</label>
                <ul>
                    <li>Save $230</li>
                    <li>Improve your body on a daily basis</li>
                </ul>

                <a href="#" class="sip"></a>           
            </div>
        </div>    
            
		<div id="footer"><div>
			<p>To get support — financial or technological — write Mary Jenkins to <a href="#">mary@gym6.com</a></p>
			Gym6 has been produced by Dan Ayphor. <br /><a href="#">Write him</a> to tell your opinion or discuss business opportunities. 
		</div></div>
		
		
	</body>
</html>

