<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Gym6</title>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>	
	<body>
       
		<div id="page">
            <h1 class="logo_new">GUM6<a href="#"></a></h1>
            <div class="sign"><a href="#">Nastia Larkina</a>|<a href="#">Logout</a></div>
            <ul class="menu">
                <li class="sub"><a href="#">Workout</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Progress</a></li>
                <li><a href="#">Profile</a></li>
            </ul>
            <img src="img/temp/a5.jpg" />
            
            <div class="end_trial_page">
            	<h2 class="title">У вас закончился триальный период.</h2>
                <p>Купите месяц занятий за 100 баксов или 6 месяцев за 10 баксов<br /> каждый.</p>
                <a href="#" class="sip"></a>
                <div class="form">
                	<img src="img/responce_trial.jpg" /> <p>Чувак, если ты не хочешь платить,<br /> напиши мне почему, мне это очень важно.</p>
                    <input type="text" class="text" />
                    <textarea></textarea>
                    <input type="submit" value="" class="submit" />
                </div>               
            </div>
        </div>    
            
		<div id="footer"><div>
			<p>To get support — financial or technological — write Mary Jenkins to <a href="#">mary@gym6.com</a></p>
			Gym6 has been produced by Dan Ayphor. <br /><a href="#">Write him</a> to tell your opinion or discuss business opportunities. 
		</div></div>
		
		
	</body>
</html>

